{% extends "base.html" %}

{% load static from staticfiles %}
{% block head %}



{% endblock head %}

{% block content %}
<div class = "row">
    <ul style="list-style-type:none">
        <h2>
            Restaurantele Mele
        </h2>
        {% for resto in restos %}
        <a href = "restaurant/{{resto.pk}}">
            <li>{{ resto.name }} - {{ resto.city }}</li>
        </a>
        {% empty %}
        <li>No Restaurants yet.</li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
