{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'custom/css/restaurant_edit.css' %}">
{% endblock head %}

{% block content %}
<form enctype="multipart/form-data" action="validate" method="post" role="form">

    <h2>{{resto.name}} - {{resto.city}}</h2>

    <div class="well">
        <h2>Date restaurant</h2>

        <div class="form-group">
            <label for="nume_resto">Nume</label>
            {{form.name}}
        </div>
        <div class="form-group">
            <label for="nume_oras">Oras</label>
            {{form.city}}
        </div>
    </div>
    <div class="well">
        <h2>Date Contact Restaurant</h2>

        <div class="form-group">
            <label for="id_phone">Telefon</label>
            {{contact_form.phone}}
        </div>
        <div class="form-group">
            <label for="id_mail">Mail</label>
            {{contact_form.mail}}
        </div>
         <div class="form-group">
            <label for="id_website">Website</label>
            {{contact_form.website}}
        </div>

    </div>
    <div class="well">
        <h2>Date Adresa Restaurant</h2>

        <div class="form-group">
            <label for="id_address">Adresa</label>
            {{address_form.address}}
        </div>


    </div>



    <div class="well">
        <h2>Date Meniuri</h2>

        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Meniuri
                <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                {% for menu in menus %}
                <li role="presentation"><a role="menuitem" tabindex="-1" data-pk="{{menu.pk}}">{{menu.name}}</a></li>
                {% endfor %}
            </ul>
        </div>

        <br>

        <div class="form-group">
            <label for="nume_meniu">Nume Meniu</label>
            {{menu_form.menu_name}}
        </div>
        <div class="form-group">
            <label for="descriere_meniu">Descriere Meniu</label>
            {{menu_form.description}}
        </div>
        <div class="form-group">
            <label for="data_meniu">Data Meniu</label>
            {{menu_form.date}}
        </div>
        <div class="form-group">
            <label for="pret_meniu">Pret Meniu</label>
            {{menu_form.price}}
        </div>
         <button class="btn btn-default"  type="button" id="delete_menu">Sterge</button>
        <div class="form-group">
            <input class="form-control" id="id_menu" name = "menu" type ="hidden" value="">
            <input class="form-control" id="id_restaurant" name="restaurant" type="hidden" value ="{{resto.id}}">
        </div>
    </div>
    {% csrf_token %}
    <div class="well">
          <h2>Galerie Restaurant</h2>
          <ul class="images">
              {% for image in gallery %}
                    <li>
                        <img src = "/{{ image.picture }}" width ="250" height="200"/>
                        <span class="glyphicon glyphicon-remove xremove" data-pk="{{ image.pk }}" aria-hidden="true"></span>
                    </li>

              {% endfor %}
          </ul>
        <br/>
          <input id="picture" name="picture" type="file"/>

    </div>
    <input type="submit" value="Submit">
</form>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'custom/js/events.js' %}"></script>
{% endblock javascript %}






