{% extends "base.html" %}

{% load static from staticfiles %}
{% block head %}



{% endblock head %}

{% block content %}
<form action = "validate" method = "post" role="form">

    <h2>{{resto.name}} - {{resto.city}}</h2>
    <div class="well">
        <h2>Date restaurant</h2>
            <div class="form-group">
                <label for="nume_resto">Nume</label>
                {{form.name}}
            </div>
            <div class="form-group">
                <label for="nume_oras">Oras</label>
                {{form.city}}
            </div>
    </div>
    <div>
    <form method="post" action="/login/auth" class="form-signin">
        </form>
        </div>
    <div class="well">
        <h2>Date Meniuri</h2>
        <ul class="list-group">
            <li class="list-group-item">
                <label for="menu_name">Nume Meniu</label>
                <input id = "menu_name" type="text" name="name_menu" maxlength="200">
            </li>
            <li class="list-group-item">
                <label for="menu_description">Descriere Meniu</label>
                <input id = "menu_description" type="text" name="description" maxlength="200" >
            </li>
            <li class="list-group-item">
                <label for="menu_date">Data Meniu</label>
                <input id = "menu_date" type="text" name="data" maxlength="200" >
            </li>
            <li class="list-group-item">
                <label for="menu_price">Pret Meniu</label>
                <input id = "menu_price" type="text" name="pret" maxlength="200" >
            </li>
        </ul>
    </div>
     {% csrf_token %}
    <input type="submit" value="Submit">
</form>
{% endblock content %}
