{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    {% block styling %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    {% endblock styling %}

</head>
<body>
<div class="container">
    <div class="header clearfix">
        <nav>
            {% if user.is_authenticated %}
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><p class="navbar-text">Manager</p></li>
                <li role="presentation">
                    <button type="button" class="btn btn-default navbar-btn">Dashboard</button>
                </li>
            </ul>
            {% endif %}
        </nav>
        <h1>Hai La Masa!
            <small>Nyi foame...</small>
        </h1>
    </div>
    {% block content%}{% endblock content %}
    <footer class="footer">
        <nav>
            {% if user.is_authenticated == False %}
            <ul class="nav nav-pills pull-left">
                <li role="presentation"><p class="navbar-text">Log in as restaurant manager</p></li>
                <li role="presentation">
                    <button type="submit" class="btn btn-default">Log in</button>
                </li>
            </ul>
            {% endif %}
        </nav>
    </footer>
</div>
<!-- /container -->

{% block javascript %}
<script src="{% static 'jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock javascript %}
</body>
</html>