{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'custom/css/base.css' %}">
    {% block head %}

    {% endblock head %}
</head>

<body>
<div class="container">
    <div class="well">
        <div class="header clearfix">
            <nav>
                {% if user.is_authenticated %}
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><p class="navbar-text">{{request.user.username}}</p></li>
                    <li role="presentation">
                        <a href="http://localhost:8000/dashboard" class="btn btn-default navbar-btn">Dashboard</a>
                    </li>
                </ul>
                {% endif %}
            </nav>
            <a href="http://localhost:8000">
                <h1>Hai La Masa!
                    <small>Nyi foame...</small>
                </h1>
            </a>
        </div>
    </div>
    <div class="well content">
        {% block content%}{% endblock content %}
    </div>
    <footer class="footer">
        {% block footer %}
        {% endblock footer %}
    </footer>
</div>
<!-- /container -->

{% block javascript %}
<script src="{% static 'jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock javascript %}
</body>
</html>