{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
     <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    {% block head %}

    {% endblock head %}
</head>

<body>
<div class="container">
    <div class="well">
        <div class="header clearfix">
            <nav>
                {% if user.is_authenticated %}
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><p class="navbar-text">Manager</p></li>
                    <li role="presentation">
                        <button type="button" class="btn btn-default navbar-btn">Dashboard</button>
                    </li>
                </ul>
                {% endif %}
            </nav>
            <h1>Hai La Masa!
                <small>Nyi foame...</small>
            </h1>
        </div>
    </div>
    <div class="well well-sm content">
        {% block content%}{% endblock content %}
    </div>
    <footer class="footer">
        {% block footer %}
        {% endblock footer %}
    </footer>
</div>
<!-- /container -->

{% block javascript %}
<script src="{% static 'jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock javascript %}
</body>
</html>