{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<head>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="{% static 'custom/js/map' %}"></script>
</head>
<body>
<center>
    <div id="googleMap" style="width:600px;height:480px;"></div>
</center>
</body>
{% endblock content %}
{% block footer %}
{% if user.is_authenticated == False %}
<div class="well">
    <a href="http://localhost:8000/login">
        Log in as restaurant manager
    </a>
</div>
{% endif %}
{% endblock footer %}