{% extends "base.html" %}

{% load static from staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static 'custom/css/base_oras.css' %}"/>
     <link href="http://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet" type="text/css">

{% endblock head %}

{% block content %}
     <div class = "row">
     {% for menu in menus %}

            <div class="col-md-6 menu-well">
                 <div class="panel panel-warning menu">
                    <div class="panel-heading menu-head">
                         <h2 class="panel-title menu-title">{{menu.restaurant.name}}</h2>
                     </div>
                     {% if menu.picture != "" %}
                      <img src="{% static menu.picture %}" style="float:right;" class="img-circle" width="220" height="200" />
                     {%endif%}
                     <div class="panel-body menu-body">
                         <h3>Oferta zilei:
                             {{ menu.name }}
                         </h3><br/>
                          <p>{{menu.description}}</p>


                     </div>
                </div>
            </div>
        {% empty %}
         <h1 class = "menu-title">Nu exista niciun meniu pe astazi!</h1>
        {% endfor %}
            </div>
{% endblock content %}
