{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'custom/css/base_oras.css' %}"/>
<link href="http://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet" type="text/css">

{% endblock head %}

{% block content %}
<a href="/restaurante/{{city}}" class="btn btn-default navbar-btn">Restaurante</a>
<br>
<div class="row">
    {% for menu in menus %}

    <div class="col-md-4 menu-well">
        <div class="panel panel-warning menu">
            <div class="panel-heading menu-head">
                <h2 class="panel-title menu-title">{{menu.restaurant.name}}</h2>
            </div>
            <div class="panel-body menu-body">
                <h3>Oferta zilei:
                    {{ menu.menu_name }}
                </h3><br/>

                <p>{{menu.description}}</p>
                <a href="http://localhost:8000/restaurant/{{menu.restaurant.id}}"><p>Info restaurant</p></a>
            </div>
        </div>
    </div>
    {% empty %}
    <h1 class="menu-title">Nu exista niciun meniu pe astazi!</h1>
    {% endfor %}
</div>
{% endblock content %}

